

.calcladoraD{


    width: 150px;
    
  
    background-color: gray;
    



}

.text{
    margin-top: 0px;
    width: 150px;
    height: 50px;
}

.boton1{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}

.boton2{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}

.boton3{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}
.boton4{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}
.boton5{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}
.boton6{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}
.boton7{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}
.boton8{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}
.boton9{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}
.botonMAS{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}
.botonMENOS{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}
.botonPOR{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}
.botonPARA{
    background-color: rgb(236, 72, 72);
    color: white;
    margin: 5px;
    
    width: 40px; 
     
    height: 30px;
}
.botonIGUAL{
    background-color: rgb(86, 236, 16);
    color: white;
    margin: 5px;
    
    width: 90px; 
     
    height: 30px;
}

